<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PMS - Admin :: @ViewBag.Title</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Description Here = PMS">
    <meta name="author" content="Author Here -ETS">
        @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")

    @*<link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet">*@
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/font-awesome-4/css/font-awesome.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>

<body class="">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                @Html.Partial("_LoginPartial")
            </ul>
            <a class="brand" href="#l">
                <span class="first"></span>
                <span class="second">AGMBS - PMS</span>
            </a>
            @*Pension Management Software class="active" *@
        </div>
    </div>

    <div class="sidebar-nav">
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse">
            <i class="icon-dashboard"></i>Admin Dashboard
        </a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li>@Html.ActionLink("Dashboard", "Index", "AccountRole")</li>
            <li>@Html.ActionLink("Activity History", "Log", "AccountRole")</li>
        </ul>
        <a href="#manage-district" class="nav-header" data-toggle="collapse">
            <i class="fa fa-tasks"></i> Accounts
        </a>
        <ul id="manage-district" class="nav nav-list collapse in">
            <li>@Html.ActionLink("Chart Of Accounts", "ChartOfAccounts", "AccountRole")</li>
            <li>@Html.ActionLink("Add Group", "AddGroup", "AccountRole")</li>
            <li>@Html.ActionLink("Add Ledger", "AddLedger", "AccountRole")</li>
        </ul>
        <a href="#Entries" class="nav-header" data-toggle="collapse">
            <i class="fa fa-tasks"></i> Entries
        </a>
        <ul id="manage-minister" class="nav nav-list collapse in">
            <li>@Html.ActionLink("All Entries", "All", "AccountRole")</li>
            <li>@Html.ActionLink("Receipt", "Receipt", "AccountRole")</li>
            <li>@Html.ActionLink("Payment", "Payment", "AccountRole")</li>
            <li>@Html.ActionLink("Contra", "Contra", "AccountRole")</li>
            <li>@Html.ActionLink("Journal", "Journal", "AccountRole")</li>
        </ul>
        <a href="Report" class="nav-header" data-toggle="collapse">
            <i class="fa fa-tasks"></i> Reports
        </a>
        <ul id="manage-contribution" class="nav nav-list collapse in">
            <li>@Html.ActionLink("Balance Sheet", "BalanceSheet", "AccountRole")</li>
            <li>@Html.ActionLink("Profit and Loss", "ProfitAndLoss", "AccountRole")</li>
            <li>@Html.ActionLink("Trial Balance", "TrialBalance", "AccountRole")</li>
            <li>@*@Html.ActionLink("Ledger Statement", "LedgerStatement", "AccountRole")*@</li>
        </ul>
        <a href="#custom-report" class="nav-header" data-toggle="collapse">
            <i class="fa fa-tasks"></i> Settings
        </a>
        <ul id="custom-report" class="nav nav-list collapse in">
            <li>@Html.ActionLink("Settings", "Settings", "AccountRole")</li>
        </ul>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <hr>
        @*<p>&copy; @DateTime.Now.Year - ETS Nigeria</p>  *@
        <p>&copy; 2014 - Assemblies of God Ministers Benefit Scheme (AGMBS)</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customjs")

    <script type="text/javascript">

        //$(document).ready(function () {

        //    $("li").css("class", "active");
        //    //.sidebar-nav > .nav-list >
        //});
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>


