@model IEnumerable<Application.Web.Models.District>

@using GridMvc.Html;

@{
    ViewBag.Title = "Manage District";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["ReturnUrl"] = Request.Url;
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index")<span class="divider">/</span></li>
    <li class="active">Manage Districts</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Note: </strong>@ViewBag.info
        </div>

        <div class="row-fluid sortable ui-sortable">
            <div class="box span12">
                <div class="box-header well" data-original-title="Manage Districts"
                    style="">
                    <h2><i class="fa fa-list-alt"></i> Manage Districts</h2>
                    <span class="label label-warning" style="float: right; margin-top: 4px;">+@Model.Count()</span>
                </div>
                <div class="box-content">
                    <div class="row-fluid">
                        @Html.Grid(Model).Columns(columns =>
                       {
                           columns.Add(c => c.DistrictCode).Titled("Code").Css("code-bold");                            
                           columns.Add(c => c.DistrictName).Titled("District");
                           columns.Add(c => c.Address1).Titled("Address");
                           columns.Add(c => c.City).Titled("City");
                           columns.Add(c => c.State).Titled("State");
                           columns.Add(c => c.Manager).Titled("Manager");
                           columns.Add(c => c.PhoneNo).Titled("Phone No");
                           columns.Add(c => c.Email).Titled("Email");
                           columns.Add(c => c.Contact).Titled("Contact");
                           columns.Add()
                                   .Encoded(false)
                                   .Sanitized(false)                               
                                   .RenderValueAs
                                   (d => @<a class="btn btn-success" href="@Url.Action("EditDistrict", new { id = d.Id })">
                                       <i class="fa fa-edit icon-white"></i> Edit </a>);                                
                           
                       })                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Styles { @Styles.Render("~/Content/datatablecss")   }
    
    @section Scripts {

        @Scripts.Render("~/bundles/jquerydatatable")

        <script type="text/javascript">

            $(document).ready(function () {
                $('.grid-table').DataTable();
            });

        </script>
}