@model IEnumerable<Application.Web.Models.AccountGroup>
@{
    ViewBag.Title = "ProfitAndLoss";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



<div>
    <ul class="breadcrumb">
        <li class="active">@Html.ActionLink("Home", "Index", null, new { @class = "active" })</li>
    </ul>
</div>

<div class="container-fluid">
    <h2>Balance Sheet </h2>
    <p>
        <a class="btn btn-info btn-medium" href="@Url.Action("ProfitAndLoss","Accountrole")">
            <i class="fa fa-plus icon-white"></i> Download CSV
        </a>

        <a class="btn btn-success btn-medium"  href="@Url.Action("ProfitAndLoss", "Accountrole")">
            <i class="fa fa-plus icon-white"></i> Print Preview
        </a>
    </p>
    <hr />
    <div class="row-fluid">
        <div class="block span5">
            <a href="#tablewidget" class="block-heading" data-toggle="collapse">
                Expenses (Gross)
                <span class="label label-warning">+</span>
            </a>
            <div id="tablewidget" class="block-body collapse in">
                @*<p><a href="users.html">More...</a></p>*@

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Expenses (Gross)</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.name
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>


        <div class="block span5">
            <a href="#tablewidget" class="block-heading" data-toggle="collapse">
                Incomes (Gross)
                <span class="label label-warning">+</span>
            </a>
            <div id="tablewidget" class="block-body collapse in">
                @*<p><a href="users.html">More...</a></p>*@

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Incomes (Gross)</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (dynamic p in ViewBag.Assets)
                        {
                            <tr>
                                <td>@p.name</td>
                                <td>@*@p.ledgers.name*@</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>


    <div class="row-fluid">

        <div class="block  span5">
            <div id="page-stats" class="block-body collapse in">

                <div class="stat-widget-container">
                    <table class="table table-bordered">

                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">
                                Total Gross Expenses
                            </td>
                            <td style="font-weight:bold"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">Total:</td>
                            <td style="font-weight:bold"></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
        <div class="block  span5">
            <div id="page-stats" class="block-body collapse in">

                <div class="stat-widget-container">
                    <table class="table table-bordered">

                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">
                                Total Gross Incomes
                            </td>
                            <td style="font-weight:bold"></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"></td>
                            <td></td>
                        </tr>
                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">Total:</td>
                            <td style="font-weight:bold"></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="block span5">
            <a href="#tablewidget" class="block-heading" data-toggle="collapse">
                Expenses (Net)
                <span class="label label-warning">+</span>
            </a>
            <div id="tablewidget" class="block-body collapse in">
                @*<p><a href="users.html">More...</a></p>*@

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Expenses (Net)</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.name
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>


        <div class="block span5">
            <a href="#tablewidget" class="block-heading" data-toggle="collapse">
                Incomes (Net)
                <span class="label label-warning">+</span>
            </a>
            <div id="tablewidget" class="block-body collapse in">
                @*<p><a href="users.html">More...</a></p>*@

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Incomes (Net)</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (dynamic p in ViewBag.Assets)
                        {
                            <tr>
                                <td>@p.name</td>
                                <td>@*@p.ledgers.name*@</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    @*@using Application.Web.Models
        @model IEnumerable<ledger>
        <ul>
            @foreach (ledger p in Model)
            {
                <li>@p.op_balance_dc
            </li>
            }
            </ul>*@



    <div class="row-fluid">

        <div class="block  span5">
            <div id="page-stats" class="block-body collapse in">

                <div class="stat-widget-container">
                    <table class="table table-bordered">

                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">
                                Total Expenses
                            </td>
                            <td style="font-weight:bold"></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">Total:</td>
                            <td style="font-weight:bold"></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
        <div class="block  span5">
            <div id="page-stats" class="block-body collapse in">

                <div class="stat-widget-container">
                    <table class="table table-bordered">

                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">
                                Total Incomes
                            </td>
                            <td style="font-weight:bold"></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold"></td>
                            <td></td>
                        </tr>
                        <tr style="background-color:#f3f2f0">
                            <td style="font-weight:bold">Total:</td>
                            <td style="font-weight:bold"></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>